<div style="display: flex; justify-content: space-between;">
    <h2 class="title">Seccion de ventas:</h2>
</div>

<div class="table">
  <table>
      <thead>
          <th>ID</th>
          <th>Nombre del producto</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Monto total</th>
          <th>Acciones</th>
      </thead>
      <tbody>
        @for(item of ventas; track item.id){
          <tr>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>S/ {{item.price}}</td>
              <td>{{item.cantidad}}</td>
              <td>S/ {{item.total}}</td>
              <td class="acciones">
                  <button style="background: red; color: white;" mat-flat-button>Descartar</button>
              </td>
          </tr>
          }
      </tbody>
  </table>
</div>

<div class="boton-venta">
    <button mat-flat-button>Realizar compra</button>
</div>