@use '@angular/material' as mat;
html{
    @include mat.theme((
        color:(
            primary:mat.$azure-palette,
            tertiary:mat.$orange-palette
        ),
    ));
    @include mat.toolbar-overrides((
        container-background-color:#d8e3ff,
    ));
    @include mat.list-overrides((
        list-item-leading-icon-color:#3ccc14,
        list-item-hover-leading-icon-color:blue,
        list-item-hover-state-layer-color:rgba(71,207,231,0.2),
        list-item-hover-state-layer-opacity:rgb(216,143,48),
    ))
}


html, body { height: 100%; background-color: black;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
