<h2>Productos disponibles:</h2>

<div class="card-container">
  @for (item of productos; track item.id){
  <mat-card appearance="outlined">
    <img src="{{item.imageUrl}}">
    <mat-card-content>
      <p class="text1">{{item.name}}</p>
      <p>Precio: S/ {{item.price}}</p>
      <p>Stock: {{item.stock}}</p>
      <p class="producto-descripcion">Descripcion: {{item.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button style="margin-right: 10px;">Agregar producto</button>
    </mat-card-actions>
  </mat-card>
  }
</div>

